# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.env/
.venv/

# Fichiers de build
build/
dist/
*.egg-info/

# Logs
*.log

# Fichiers IDE / éditeurs
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/